.curso-main-container
  background-color: $color-sistema-f

// Estilos generales
.contenedor1
  background-color: $color-contenedor1

.color-primario  
  color: $color-primario

.sendFront  
  z-index: 1

.borderRounded
  border-radius: 25px;

// Estilos banner
@media only screen and (max-width: 1199px)
  .banner-principal .tarjeta
    background-size: auto
    background-position: 0
    background-repeat: no-repeat

@media screen and (min-width: 1200px)
  .banner-principal__img
    background-size: 60%, 65%;  

.banner-principal__img
  align-self: stretch
  background-position: 50% center, 50% 50%
  background-repeat: no-repeat, no-repeat
  animation-name: cambiar
  animation-duration: 5s
  animation-iteration-count: infinite
  animation-play-state: running
  animation-timing-function: steps(1, end)
  img
    display: none !important

.banner-principal__img:hover
  animation-play-state: paused

@keyframes cambiar
  0%
    background-image: url("../assets/curso/secuencia_banner/zbanner1.png")
  25%
    background-image: url("../assets/curso/secuencia_banner/zbanner2.png")
  50%
    background-image: url("../assets/curso/secuencia_banner/zbanner3.png")
  75%
    background-image: url("../assets/curso/secuencia_banner/zbanner4.png")
  100%
    background-image: url("../assets/curso/secuencia_banner/zbanner1.png")

// Estilos introducción
.bgIntro
  background-color: $color-fondo-introduccion

// Estilos Tema1
.bg01:after
  content: ''
  border-top: 40vh solid #F7EFD7
  border-right: 100vw solid #fff8e3
  width: 0
  position: absolute

.linea-tiempo-a::before
  background: $color-acento-contenido

.linea-tiempo-a__content span
  text-align: left
  max-width: 350px
  line-height: 1.5em

.linea-tiempo-a__icon__container span
  color: white

.imgLineaTiempo
  position: absolute
  width: 295px  
  height: 160px
  right: 100px
  top: -180px

.imgDanger
  position: absolute
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 76px
  height: 70px
  top: -50px

// Estilos tema2
.caja  
  background: rgb(255,255,255)
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,248,227,1) 46%, rgba(255,248,227,1) 100%)

.bloque-texto-c:after
  background-color: $color-primario

.bloque-texto-c i  
  color: $color-primario

.color-primario
  background-color: #fff8e3

.cajon.color-primario
  background-color: #fff8e3

hr.tema2
  border-top: 1px solid $color-primario;
  width: 80%


table.blueTable
  border: 1px solid #AFAFAF
  background-color: #F8E2E2
  width: 100%
  text-align: left

  td, th
    border: 1px solid #AAAAAA
    padding: 20px 20px


  tr:nth-child(even)
    background: #FFFFFF

  thead
    background: #D44F4A

    th
      font-size: 15px
      font-weight: bold
      color: #FFFFFF
      text-align: center
      border-left: 2px solid #D0E4F5

      &:first-child
        border-left: none

  tfoot
    td
      font-size: 14px

    .links
      text-align: right

      a
        display: inline-block
        background: #1C6EA4
        color: #FFFFFF
        padding: 2px 8px
        border-radius: 5px

.img-personas
  position: absolute
  width: 190px
  height: 115px
  top: 0
  right: -120px

  @media screen and (max-width: 991px)
    position: relative